<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite">

<parameter name="Username" value="obsqura@gmail.com"></parameter>
<parameter name="Password" value="mypassword"></parameter>

  <test  name="WebTestS">

    <classes>
      <class name="WebTesting"/>
    </classes>
  </test> 
  
  
  
  <test  name="MobileTest">
    <classes>
      <class name="MobileTesting"/>
   
    </classes>
  </test> 
  
  
</suite> 
